*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: beige;
}

.container {
    
    height: 200px;
    width: 400px;

    padding: 20px;
    border: 1px solid #000000;
    border-radius: 5pxrgb(156, 16, 16);
    background-color: #ce2323;
}
#botao{
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}